<html>
	<head>
		<title>
			log in
		</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
		<style>
			body  
			{
				background-image: url('image/wallpaper.jpg');
				background-repeat: no-repeat;
				background-attachment: fixed;
			}
		</style>
	</head>
	
	
	
	<body>
		<div id="allform">
			<img src="image/user.png">
			<form>
				<div id="username">
					<input type="text" placeholder="USERNAME">
				</div>
				<div id="password">
					<input type="password" placeholder="PASSWORD">
				</div>
				<div>
					<input type="submit" name="submit" value="LOGIN" class="login_button">
				</div>
			</form>
		</div>
	
	</body>

</html>