<html>
	<head>
		<title>
			main
		</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
		<style>
			body  
			{
				background-image: url('image/wallpaper.jpg');
				background-repeat: no-repeat;
				background-attachment: fixed;
			}
		</style>
	</head>
	
	<body>
		<div id="allsearchform">
			<img src="image/search.png">
			<form>
				<div>
					<input type="text" placeholder="PLANT NAME" class="searchinput_01">
				</div>
				<div>
					<input type="text" placeholder="FAMILY" class="searchinput_02">
					<input type="text" placeholder="GENUS" class="searchinput_02">
					<input type="text" placeholder="SPECIES" class="searchinput_02">
				</div>
				<div>
					<input type="text" placeholder="INFRAFAMILIAL" class="searchinput_02">
					<input type="text" placeholder="INFRAGENERIC" class="searchinput_02">
					<input type="text" placeholder="INFRASPECIFIC" class="searchinput_02">
				</div>
				<div>
					<input type="text" placeholder="AUTHOR" class="searchinput_03">
				</div>
				<div>
					<input type="submit" name="submit" value="SEARCH" class="search_button">
				</div>
			</form>
		</div>
	</body>
	
</html>