<html>
	<head>
		<title>
			sign up
		</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
		<style>
			body  
			{
				background-image: url('image/wallpaper.jpg');
				background-repeat: no-repeat;
				background-attachment: fixed;
			}
		</style>
	</head>

	<body>
		<div id="allsignupform">
			<img src="image/sign up.png">
			<form action="main.html" method="POST">
				<div id="signup_idcard">
					<input type="text" placeholder="ID" name="signup_id" required="required" class="signup_input">
				</div>
				<div id="signup_name">
					<input type="text" placeholder="NAME" name="signup_name" required="required" class="signup_input">
				</div>
				<div id="signup_username">
					<input type="text" placeholder="USERNAME" name="signup_username" required="required" class="signup_input">
				</div>
				<div id="signup_password">
					<input type="password" placeholder="PASSWORD" name="signup_password" required="required" class="signup_input">
				</div>
				<div id="signup_email">
					<input type="text" placeholder="E-MAIL" name="signup_email" required="required" class="signup_input">
				</div>
				<div>
					<input type="submit" name="submit" value="SUBMIT" class="signup_button">
				</div>
			</form>
		</div>
		<a href="main.html">
			<div id="backhome">
				<img src="image/home.png">
			</div>
		</a>
	</body>
</html>