#container
{
	width: 800;
	margin-left: auto;
	margin-right: auto;
}

#header
{
	color: #1a237e;
	text-align: center;
}

#incontent
{
	padding: 10;
}

#login
{
	width: 500;
	height: 100;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #76ff03;
	cursor: pointer;
	border-radius: 75;
	overflow: hidden;
}
#login:before
{
	content: 'LOGIN';
	font-family: 'arial';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 60;
	transition: all 0.5s;
}
#login:hover:before
{
	top: -30%;
}
#login:after
{
	font-family: 'Ionicons';
	content: '\f374';
	position: absolute;
	top: 130%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 60;
	transition: all 0.5s;
}
#login:hover:after
{
	top: 50%;
}

#signup
{
	width: 500;
	height: 100;
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #76ff03;
	cursor: pointer;
	border-radius: 75;
	overflow: hidden;
}
#signup:before
{
	content: 'SIGN UP';
	font-family: 'arial';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 60;
	transition: all 0.5s;
}
#signup:hover:before
{
	top: -30%;
}
#signup:after
{
	font-family: 'Ionicons';
	content: '\f127';
	position: absolute;
	top: 130%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 60;
	transition: all 0.5s;
}
#signup:hover:after
{
	top: 50%;
}

#allform
{
	width: 500;
	height: 400;
	text-align: center;
	background-color: rgba(185, 246, 202,0.5);
	border-radius: 100;
	margin: 0 auto;
	margin-top: 100;
}
#allform img
{
	width: 200;
	height: 200;
	margin-top: -60;
	margin-bottom: 30;
}
input[type="text"],input[type="password"]
{
	width: 300;
	height: 50;
	margin-bottom: 20;
	padding-left: 20;
	border-radius: 10;
}
.login_button
{
	width: 300;
	height: 50;
	margin-bottom: 20;
	padding-left: 20;
	border-radius: 10;
	color: #fff;
	font-family: 'arial';
	background-color: #00c853;
	border-bottom: 4 solid #1b5e20;
}

#footer
{
	clear: both;
	padding: 10;
	text-align: right;
}
